<!DOCTYPE html>
<html lang="pt-br">
<%- include(`./parciais/head.ejs`) %>
<body>
    <!-- Inclusõa de parcial NAV -->
 <%- include(`./parciais/nav.ejs`) %>

    <div class="criar-conteudo-blog">
        <form>
            <label for="titulo"> Título do Blog:</label>
            <input type="text" id="titulo" required>
            <label for="texto-curto"> Texto curto do Blog:</label>
            <input type="text" id="texto-curto" required>
            <label for="conteudo"> Conteúdo do Blog:</label>
            <textarea id="conteudo" required></textarea>
            <button>Enviar</button>
        </form>
    </div>
   
<%- include(`./parciais/footer.ejs`) %>
</body>
</html>